{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss",
    "stylelint-config-tailwind"
  ],
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "no-missing-end-of-source-newline": null
  }
}
